

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
}


.flex{
    display: flex;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.titleWrapper{
    margin-left: 4.5%;
}

.myName{
    color: white;
    font-size: 1.7em;
}

.myTitle{
    color: white;
    font-size: 1.2em;
}

.navBar{
    display: flex;
    justify-content:space-evenly;
    width: 40%;
}

.navText{
    color: white;
    font-size: 1.3em;
}


.bigBoi{
    margin-top: 50%;
    background-color: chartreuse;
}


.footer{
    background-color: darkgray;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.footerContactWrapper{
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.contactInfo{
    text-decoration: underline;
    font-size: 1.1em;
    margin-bottom: 5%;
    margin-right: 4%;
}

.infoText{
    font-size: 1.1em;
}

.contactLinks{
    width: 30%;
    justify-content: space-evenly;
}

.linkIcon{
    width: 15%;
}
