

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-- Fonts --*/
@font-face {
    font-family: courierPrime;
    src: url(../Assets/Fonts/CourierPrime/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: courierPrime;
    src: url(../Assets/Fonts/CourierPrime/CourierPrime-Bold.ttf);
    font-weight: bold;
}


body{
    background-color: black;
    font-family: 'courierPrime', 'Timer New Roman';
    color: white;
}

a{
    transition: 0.4s;
}


.flex{
    display: flex;
}

.noDecor{
    text-decoration: none;
}

.fullScreen{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vW;
    height: 100vh;
}

.underline{
    text-decoration: underline;
}

.absolute{
    position: absolute;
}


/*-- HEADER --*/
#header{
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.85);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    transition: 0.4s;
    border-bottom-color: rgba(2, 3, 53, 0.85);
    z-index: 5;
}

.titleWrapper{
    margin-left: 4.5%;
}

.myName{
    color: white;
    font-size: 2em;
    text-decoration: underline;
}

.myTitle{
    color: white;
    font-size: 1.2em;
}

.navBar{
    display: flex;
    justify-content:space-evenly;
    width: 40%;
    margin-top: 0.4%;
}

.navText, .projectsButton{
    color: white;
    font-size: 1.3em;
}

.projectsButton{
    text-decoration: underline;
    cursor: pointer;
}

.relativeCentered{
    position: relative;
    transform: translateX(-40%);
}

#dropdownMenu{
    background-color: rgb(94, 94, 94);
    padding: 10%;
    padding-top: 15%;
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: solid black 0.1vw;
    border-radius: 1rem;
    display: none;
}

.dropdownElement{
    margin-bottom: 6%;
}

.dropdownText{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.navText:hover, .projectsButton:hover, .dropdownText:hover{
    color: rgb(187, 255, 124);
}


/*-- Introduction --*/
.introductionBody{
    padding-bottom: 85vh;
}

#teaserVideo{
    position: absolute;
    top: -10vh;
    z-index: -1;
    filter: blur(2.5px) brightness(92%);
    width: 100vw;
    height: 110vh;
}

.introductionWrapper{
    position: absolute;
    top: 35vh;
    left: 15vW;
    width: 25vw;
    background-color: rgba(41, 35, 35, 0.781);
    padding: 1%;
    border-radius: 1.5rem;
}

.aboutHeader{
    margin-left: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.aboutText{
    font-size: 1.1em;
}


/*-- Front page projects --*/
.projectsBody{
    margin: 0 auto;
    margin-top: 8vh;
    text-align: center;
    width: 70vw;
}

.project{
    margin: 0 auto;
    margin-top: 5vh;
    padding: 2%;
    justify-content: space-between;
    width: 40%;
    border: solid rgb(169, 169, 169) 0.1vw;
    border-radius: 2rem;
    background-color:rgba(41, 35, 35);
    transition: 0.4s;
    cursor: pointer;
}

.project:hover{
    padding: 1% 1% 2%;
}

.projectThumbnail{
    border-radius: 1rem;
    width: 100%;
    max-height: 28vh;
    transition: 0.4s;
}

.projectInfoSection{
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

.subTitle{
    color: lightgray;
    font-size: 0.85em;
}

.projectHeader{
    font-size: 1.8em;
    text-decoration: underline;
    transition: 0.4s;
}

.aboutProject{
    margin-top: 1%;
    color: lightgray;
}


.bigBoi{
    margin-top: 50%;
}


/*-- Project face --*/
.projectFaceImage{
    width: 100%;
    filter: blur(4px) brightness(85%);
    z-index: -1;
}

.projectFaceHeader, .projectShortBox, .projectSummaryBox{
    position: absolute;
    z-index: 1;
}

.projectFaceHeader{
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.projectSubtitle{
    color:rgb(199, 199, 199);
}

.projectShortBox, .projectSummaryBox, .projectSection{
    padding: 2%;
    background-color: rgb(41, 35, 35, 0.781);
    border-radius: 2rem;
}

.projectShortBox{
    top: 50vh;
    left: 10vw;
    display: flex;
    white-space: nowrap;
}

.projectSummaryBox{
    top: 50vh;
    left: 60vw;
    max-width: 30vw;
}

.projectShortText{
    font-size: 1.2em;
    line-height: 1.4em;
}


/*-- Project body --*/
.projectMainBody{
    margin-top: 5vh;
}

.projectSection{
    padding: 0%;
    margin: 0 auto;
    margin-top: 9vh;
    width: 80vw;
}

.sectionColumn, .sectionColumnImages{
    width: 50%;
    padding: 3%;
}

.sectionRowBorder{
    display: flex;
}

.sectionRowBorder::before{
    content: "";
    position: absolute;
    width: 70vw;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid rgb(187, 255, 124) 1px;
}

.sectionHeader{
    font-size: 1.8em;
    margin-bottom: 1vh;
}

.bodyText{
    font-size: 1.2em;
    color: rgb(199, 199, 199);
    line-height: 1.25em;;
}

.imageWrapper, .rowImageWrapper{
    justify-content: center;
    text-align: center;
}

.rowImageWrapper{
    padding-left: 0.5%;
}

.rowImageWrapper:first-child{
    padding-left: 0%;
}

.projectBodyImage{
    max-width: 100%;
    max-height: 40vh;
}

.imageText{
    font-size: 0.9em;
    color: rgb(199, 199, 199);
}

.imageRow{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}


/*-- footer --*/
#footer{
    background-color: darkgray;
    margin-top: 10vh;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    text-align: center;
    border-top-style: solid;
    border-top-color:rgba(2, 3, 53, 0.85);
}

.footerContactWrapper{
    margin: 0 auto;
    margin-top: 1.5%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.contactInfo{
    font-size: 1.1em;
    margin-bottom: 5%;
    margin-right: 4%;
    color: black;
}

.infoText{
    font-size: 1.1em;
    color: black;
    text-decoration: underline;
}

.contactLinks{
    width: 30%;
    justify-content: space-evenly;
}

.linkIcon{
    width: 15%;
}
